@media (min-width: 992px) {
    #nl  {
        border-bottom: 4px solid green;
    }
}


@media (max-width: 767px) {
    #nbb {
        visibility: hidden;
    }
}
@media (max-width: 576px) {
    .navbar-collapse {
        visibility: visible;
    }
}
@media (max-width: 768px) {
body,html {
        text-align: center;
       
    }
}
@media (max-width: 767px) {
.card {
        justify-content: center;
        align-items: center;
    }

    

@media (max-width: 575px){
html,body {
            overflow-x: hidden;
            position: relative;
        }
    }
    
}

@media (max-width:991px){
    #fc{
        background:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./nasims\ images/image3.jpg);
        color: #fff;
        text-align: center;
        display: block;
    
    }
    #sc{
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./nasims\ images/image2.jpg);
        color: #fff;
        text-align: center;
        
    }
    #tc {
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./nasims\ images/hero3.jpg);
        color: #fff;
        text-align: center;
        
    }  

    @media (max-width:991px) {
        #ni {
            visibility: hidden;
        }
    }
}
@media (max-width:991px) {
}
#inp {
    width: 400px;
    height: 50px;
    
}

#bn {
    width: 400px;
    height: 50px;
    opacity: .65;
}


body {
    overflow-x: hidden;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 180px;
     }

     

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    
  }
.ap {
      position: relative;
      text-align: center;
  }

  #bm {
      object-fit: cover;
  }

#pink {
    background-color: #f9ecdc55;
}  
#gr {
    background-color: #f2fcf98e;
}
#pn {
    background-color:#f9ecdc55 ;
}

