@media (min-width: 992px) {
    #nl  {
        border-bottom: 3px solid green;
    }
}

.newnav {
    font-size: 13px;
    
}
@media (max-width: 767px) {
    #nbb {
        visibility: hidden;
        font-size: 5px;
    }
}
@media (min-width:768px) {
    .newnav {
        visibility: visible;
        font-size: 17px;
    }
}

@media (max-width: 576px) {
    .navbar-collapse {
        visibility: visible;
    }
}
@media (max-width: 576px) {
    #klm {
        justify-content: center;
        align-items: center;
        
    
    }
}

@media (max-width: 768px) {
.body {
        text-align: center;
        justify-content: center;
        align-items: center;

       
    }
}


@media (max-width: 575px){
html,body {
            overflow-x: hidden;
            position: relative;
            text-align: center;
            justify-content: center;
            
            
        }
    }

@media (min-width:993px) {
    #secondcarousel {
        visibility: hidden;
    }
}
@media (max-width :992px) {
    #realone {
        visibility: hidden;
    }
}


@media (max-width:991px){
#fc{
        background:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./nasims\ images/image3.jpg);
        color: #fff;
        text-align: center;
        background-position: center;
    }
#sc{
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./nasims\ images/image2.jpg);
        color: #fff;
        text-align: center;
        background-position: center;
        
        
    }
#tc {
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./nasims\ images/hero3.jpg);
        color: #fff;
        text-align: center;
        background-position: center;
        
        
    }  

    
}
@media (max-width:991px) {
}
#inp {
    width: 400px;
    height: 50px;
    
}

@media (max-width:959px) {
    #buhari {
        justify-content: center;
        align-items: center;
        
    
    }
}
@media (max-width:575px){
    body,html {
        justify-content: center;
        align-items: center;
    }
}


    
#bn {
    width: 400px;
    height: 50px;
    opacity: .65;
}

body {
    overflow-x: hidden;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 180px;
     }

     

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    
  }
.ap {
      position: relative;
      text-align: center;
  }

#bm {
      object-fit: cover;
  }
  
@media (min-width:992px) {
#pink {
        background-color: #f9ecdc55;
    }  
#gr {
        background-color: #f2fcf98e;
    }
#pn {
        background-color:#f9ecdc55 ;
    }
    
    
  }

